# Misc.
.vscode
.DS_Store
Icon
pkgs/Icon

# Dependencies
.env
.cache
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock
.yarn
.turbo

# Build
.next
build
dist-ssr
coverage
server/dist
public/dist

*.log
*.out
*.pid
*.seed
*.local
