.yarn
.turbo
.yarnrc.yml
pnpm-lock.yaml
.node-version

# Misc.
.vscode
.DS_Store
Icon
pkgs/Icon

# Dependencies
.env
.cache
node_modules
package-lock.json

# Build
.next
build
dist-ssr
coverage
server/dist
public/dist

*.log
*.out
*.pid
*.seed
*.local


