.DS_Store
Icon

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#.pnp.*

.pnp.cjs
.pnp.loader.mjs


# vscode
.vscode

# deps
node_modules
pnpm-lock.yaml
package-lock.json

# outputs
dist
prod.package/*
.turbo
dist-ssr

*.log
*.local
*.log.*

.env
.cache
server/dist
public/dist
storybook-static/


