@import 'inter-ui/inter.css';
@import './helpers';

:root {
  --pure-white: #fff;
  --pure-black: #000;
  --athens-gray: #fcfaf9;
  --shark-gray: #1d1d1d;
  --inspect: #f00;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --volt-blue: #b7b4fe;
  --font-inter: 'Inter', 'system-ui', sans-serif;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@media (prefers-color-scheme: dark) {
  :root {
    --pure-white: rgba(36, 36, 36, 1);
    --pure-black: #fff;
    --athens-gray: #212326;
    --shark-gray: #f5f5f8;
    --volt-blue: #9e87c5;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
  }
}

*,
*:active,
*:focus {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: var(--pure-white) !important;
  color: var(--shark-gray);
  font-family: var(--font-inter) !important;
}

body.inspect * {
  outline: 0.5px dashed var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/**
  *
  * @scrollbar-custom
  * below
  */

::-webkit-scrollbar {
  z-index: 99999999 !important;
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px !important;
}

::-webkit-scrollbar-thumb {
  z-index: 99999999 !important;
  background-color: rgb(var(--volt-blue)) !important;
  border-radius: 6px !important;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::selection {
  background-color: var(--athens-gray);
  color: var(--volt-blue);
  -webkit-text-fill-color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', 'system-ui', sans-serif;
  }
}

html.fonts-loaded body {
  opacity: 1 !important;
}

body {
  transition: opacity #{$duration / 6 + 's'} ease-in !important;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: auto;

  // margin-left: var(--aside-width) !important;
}

.component-wrapper {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  box-shadow: inset 0 0 0 1.4px #dddddd !important;
  background-color: #F7F7F7 !important;
  border-radius: 12px !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100vw;
  margin: auto;
  padding: 0;
}

.logo {
  filter: invert(0.2) drop-shadow(0 0 0.2rem #e0e0e070);
}

@media (max-width: 700px) {
  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .kitLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
